{% extends "base.html" %}

{% block content %}
<h1>Добавление товара</h1>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p align="center">
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p align="center">
        {{ form.category.label }}<br>
        {{ form.category(class="form-control") }}<br>
        {% for error in form.category.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p align="center">
        {{ form.cost_price.label }}<br>
        {{ form.cost_price(class="form-control", id="cost-price") }}<br>
        {% for error in form.cost_price.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p align="center">
        {{ form.price.label }}<br>
        {{ form.price(class="form-control", id="sale-price") }}<br>
        {% for error in form.price.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p align="center">
        {{ form.image.label }}<br>
        {{ form.image(class="form-control", id='status_select') }}<br>
        {% for error in form.image.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p align="center">Наценка: <strong id="markup-output">0</strong>%</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    <div>{{message}}</div>
</form>
<script>
  const costInput = document.getElementById("cost-price");
  const priceInput = document.getElementById("sale-price");
  const markupOutput = document.getElementById("markup-output");

  function calculateMarkup() {
    const cost = parseFloat(costInput.value) || 0;
    const price = parseFloat(priceInput.value) || 0;

    if (cost > 0) {
      const markup = ((price - cost) / cost) * 100;
      markupOutput.textContent = markup.toFixed(2);
    } else {
      markupOutput.textContent = '0';
    }
  }

  costInput.addEventListener('input', calculateMarkup);
  priceInput.addEventListener('input', calculateMarkup);
</script>
{% endblock %}