{% extends "base.html" %}

{% block content %}
<h1>Добавление адреса доставки</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.address.label }}<br>
        {{ form.address(class="form-control", id='status_select') }}<br>
        {% for error in form.address.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    <div>{{message}}</div>
</form>
{% endblock %}