{% extends "base.html" %}

{% block content %}
<h2 style="text-align: center" xmlns="http://www.w3.org/1999/html">Products</h2>
  {% for product in products %}
    <div align="center">
      <h2>{{ product.name }}</h2>
      <img src="{{ url_for('static', filename=product.image) }}" alt="{{ product.name }}">
      <div class="quantity-selector">
        <button type="button" onclick="updateCart('{{ product.id }}', -1)">-</button>
        <input type="number" id="input-{{ product.id }}" min="1" max="10" value="{{ current_user.cart.products.get(product.id|string, 1) }}" readonly>
        <button type="button" onclick="updateCart('{{ product.id }}', 1)">+</button>
      </div>
      <a href="/remove_from_cart/{{ product.id }}" class="btn btn-warning">Remove from cart</a>
    </div>
    <br>
  {% endfor %}
  <div align="center">
    <p align="center">Price: <strong id="cart-total-price">{{ cart.price }}</strong></p>
    <p align="center"><a href="/create_order"><button class="btn btn-secondary">Order</button></a></p>
  </div>


  <script>
    function updateCart(productId, delta) {
        const input = document.getElementById('input-' + productId);
        const totalPriceElement = document.getElementById('cart-total-price');
        const newValue = parseInt(input.value) + delta;

        if (newValue >= parseInt(input.min) && newValue <= parseInt(input.max)) {
            input.style.opacity = "0.5";

            fetch('/update_cart', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    product_id: productId,
                    quantity: newValue
                })
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error("Ошибка сервера");
                }
            })
            .then(data => {
                input.value = newValue;
                totalPriceElement.textContent = data.new_total_price;
            })
            .catch(error => {
                alert("Ошибка при обновлении корзины");
                console.error(error);
            })
            .finally(() => {
                input.style.opacity = "1";
            });
        }
    }
  </script>
{% endblock %}