{% extends "base.html" %}

{% block content %}
<h1>Оформление заказа</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p align="center">
        {{ form.type.label }}<br>
        {{ form.type(class="form-control", id='status_select') }}<br>
        {% for error in form.type.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p class="delivery" style="display: none" align="center">
        {{ form.address_to_order.label }}<br>
        {{ form.address_to_order(class="form-control") }}<br>
        {% for error in form.address_to_order.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p id="pickup" style="display: none" align="center">
        {{ form.address_eatery.label }}<br>
        {{ form.address_eatery(class="form-control") }}<br>
        {% for error in form.address_eatery.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p align="center">
        {{ form.payment_type.label }}<br>
        {{ form.payment_type(class="form-control", id='check_payment') }}<br>
        {% for error in form.payment_type.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p id="payment" style="display: none" align="center">
        {{ form.cash.label }}<br>
        {{ form.cash(class="form-control") }}<br>
        {% for error in form.cash.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p align="center">{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    <div>{{message}}</div>
</form>
<footer align="center">
    <a href="/add_address" class="delivery" style="display: none" align="center">Добавить адрес доставки</a>
</footer>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const select = document.querySelector('#status_select'); // ID вашего SelectField
        const wrapper_del = document.querySelectorAll('.delivery');
        const wrapper_pic = document.querySelector('#pickup')

        function toggleField() {

            if (select.value === 'delivery') {
                wrapper_del.forEach(el => el.style.display = 'block');
                wrapper_pic.style.display = 'none';
                wrapper_pic.querySelector('select, input').value = '';
            } else if (select.value === 'pickup') {
                wrapper_del.forEach(el => el.style.display = 'none');
                wrapper_pic.style.display = 'block';
                document.querySelector('input[name="address_to_order"]').value = '';
            } else {
                wrapper_del.forEach(el => el.style.display = 'none');
                wrapper_pic.style.display = 'none';
                wrapper_pic.querySelector('select, input').value = '';
                document.querySelector('input[name="address_to_order"]').value = '';
            }
        }

        if (select) {
                select.addEventListener('change', toggleField);
                toggleField();
            }
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const select = document.querySelector('#check_payment');
        const wrapper = document.querySelector('#payment');

        function togglePay() {

            if (select.value === 'cash') {
                wrapper.style.display = 'block';
            } else {
                wrapper.style.display = 'none'
            }
        }

        if (select) {
            select.addEventListener('change', togglePay);
            togglePay();
        }
    });
</script>
{% endblock %}