{% extends "base.html" %}

{% block content %}
  <h2 style="text-align: center">Активные заказы на доставку</h2>

  {% for item in orders_data %}
    <div align="center" style="border: 1px solid #ccc; padding: 15px; margin-bottom: 15px; border-radius: 5px;">
      <h2>Номер заказа {{ item.order.id }}</h2>
        <ul style="text-align: left; display: inline-block;">
          {% for prod in item.products %}
            <li>{{ prod.name }}: {{ item.order.products[prod.id|string] }}</li>
          {% else %}
            <li>Нет товаров в заказе</li>
          {% endfor %}
        </ul>
      <br>
      <a href="/complete_order/{{ item.order.id }}"><button class="btn btn-success">Сдать заказ</button></a>
    </div>
  {% endfor %}

{% endblock %}