{% extends "base.html" %}

{% block content %}
  <h2 style="text-align: center">Новые заказы</h2>
  <div align="center">
      <a href="/add_product" class="btn btn-secondary">Добавить новый товар</a>
  </div>
  {% for item in orders_data %}
    <div align="center" style="border: 1px solid #ccc; padding: 15px; margin-bottom: 15px; border-radius: 5px;">
      <h2>Номер заказа {{ item.order.id }}</h2>
      <h3>Товары в заказе</h3>
        <ul style="text-align: left; display: inline-block;">
          {% for prod in item.products %}
            <li>{{ prod.name }}: {{ item.order.products[prod.id|string] }} |
                price: {{ (item.order.products[prod.id|string] | int) * prod.price }}
            </li>
          {% else %}
            <li>Нет товаров в заказе</li>
          {% endfor %}
        </ul>
      <p align="center">Price: {{ item.order.price }}</p>
      <br>
      <div align="center">
        {% if item.order.type == "delivery" %}
          {% if item.order.del_men %}
            <p align="center">Курьер: {{ item.currier.name }}</p>
          {% else %}
            <p align="center"><a href="currier_selection/{{ item.order.id }}"><button>Назначить курьера</button></a></p>
          {% endif %}
        {% endif %}
        <p align="center"><a href="/complete_order/{{ item.order.id }}"><button class="btn btn-success">Сдать заказ</button></a></p>
      </div>
    </div>
  {% endfor %}
{% endblock %}